
/* common */

* { margin:0; padding:0; }

a { text-decoration: none; }

li { list-style-type: none; }

html {
	font: 90%/1.3 arial,sans-serif;
	padding:5%;
	background: rgba(0,142,255,0.15);
    background: no-repeat center center,-moz-linear-gradient(top,    rgba(255,255,255,0.5), rgba(0,142,255,0.15));
	background: no-repeat center center,-webkit-linear-gradient(top, rgba(255,255,255,0.5), rgba(0,142,255,0.15));
	background: no-repeat center center,-o-linear-gradient(top,      rgba(255,255,255,0.5), rgba(0,142,255,0.15));
	background: no-repeat center center,-ms-linear-gradient(top,     rgba(255,255,255,0.5), rgba(0,142,255,0.15));
	background: no-repeat center center,linear-gradient(top,         rgba(255,255,255,0.5), rgba(0,142,255,0.15));

}

body {
	font: normal 16px verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;
}


/* specific */

.mac {
	color: #0033CC;
	cursor: help;
}

#nds_files label {
	width: 18em;
}

#nds_macs {
	margin-bottom: 2em;
}

#wifiscan table {
	text-align: center;
}

#wifiscan td:nth-of-type(1) {
	text-align: left;
}

#help {
	padding: 5px;
	height: 0px;
	position: absolute;
	min-height: 50px;
	background-color: #f2f2f2;
	display:none;
	border: 2px dotted grey;
}

#switches label {
	width: 6em;
}

/* forms */

legend {
	color: #0b77b7;
	font-size: 1.2em;
}

label {
	float: left;
	width: 12em;
	text-align: right;
	margin-right: 1em;
	white-space: nowrap;
}

fieldset {
	border: 1px solid #ddd;
    background: no-repeat center center,-moz-linear-gradient(top,    rgba(255,255,255,0.5), rgba(200,255,230,0.5));
	background: no-repeat center center,-webkit-linear-gradient(top, rgba(255,255,255,0.5), rgba(200,255,230,0.5));
	background: no-repeat center center,-o-linear-gradient(top,      rgba(255,255,255,0.5), rgba(200,255,230,0.5));
	background: no-repeat center center,-ms-linear-gradient(top,     rgba(255,255,255,0.5), rgba(200,255,230,0.5));
	background: no-repeat center center,linear-gradient(top,         rgba(255,255,255,0.5), rgba(200,255,230,0.5));
	padding: 0.5em;
	margin: 0.5em;
	width: 36em;
}

fieldset fieldset {
	width: auto;
}

fieldset > * {
	margin: 0.3em 0;
	clear: both;
}

fieldset div > * {
	display: inline-block;
	vertical-align: middle;
}

input {
	padding: 0.15em;
	width: 15em;
	border: 1px solid #ddd;
	background: #fafafa;
	font: bold 0.95em arial, sans-serif;
	-moz-border-radius: 0.4em;
	-khtml-border-radius: 0.4em;
}

input:hover, input:focus {
	border-color: #c5c5c5;
	background: #f6f6f6;
}

select {
	min-width: 4em;
}

option {
	padding-right: 1em;
}

button {
	margin: 0.2em;
}

.radio_option div {
	float: left;
	white-space: nowrap;
	clear: none;
}

.radio_option div label, .radio_option div input {
	vertical-align: middle;
	display: inline;
	float: none;
	width: auto;
	background: none;
	border: none;
}

.select_option label {
	font-size: 1em;
	color: #000;
}

.list_option div {
	clear: left;
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
}

button {
	font-size: 0.8em;
	color: white;
	background-color: #0b77b7;
}

.final-button {
	font-size: 1.2em;
	color: white;
	background-color: #0b77b7;
	padding: 0.1em;
	margin: 0.3em;
}


/* navigation */

#globalnav {
	position: relative;
	float: auto;
	width: 98%;
	padding: 0 0 1.75em 1em;
	margin: 0;
	margin-bottom: 2%;
	list-style: none;
	line-height: 1em;
}

#globalnav li {
	float: left;
	margin: 0;
	padding: 0;
}

#globalnav a {
	display: block;
	color: #0b77b7;
	text-decoration: none;
	font-weight: bold;
	background: rgba(100,255,255,0.3);
	background: no-repeat center center,-moz-linear-gradient(left,    rgba(100,255,203,0.15), rgba(100,255,255,0.15));
	background: no-repeat center center,-webkit-linear-gradient(left, rgba(100,255,203,0.15), rgba(100,255,255,0.15));
	background: no-repeat center center,-o-linear-gradient(left,      rgba(100,255,203,0.15), rgba(100,255,255,0.15));
	background: no-repeat center center,-ms-linear-gradient(left,     rgba(100,255,203,0.15), rgba(100,255,255,0.15));
	background: no-repeat center center,linear-gradient(left,         rgba(100,255,203,0.15), rgba(100,255,255,0.15));
	margin: 0;
	padding: 0.25em 1em;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-right: 1px solid #aaa;
    text-shadow: 0px 0px 3px white;
}

#globalnav a:hover,
#globalnav a:active,
#globalnav a.here:link,
#globalnav a.here:visited {
	background: rgba(100,203,255,0.3);
	background: no-repeat center center,-moz-linear-gradient(left,     rgba(100,203,255,0.15), rgba(130,255,223,0.15));
	background: no-repeat center center,-webkit-linear-gradient(left,  rgba(100,203,255,0.15), rgba(130,255,223,0.15));
	background: no-repeat center center,-o-linear-gradient(left,       rgba(100,203,255,0.15), rgba(130,255,223,0.15));
	background: no-repeat center center,-ms-linear-gradient(left,      rgba(100,203,255,0.15), rgba(130,255,223,0.15));
	background: no-repeat center center,linear-gradient(left,          rgba(100,203,255,0.15), rgba(130,255,223,0.15));
}

#globalnav a.here:link,
#globalnav a.here:visited {
	position: relative;
	z-index: 102;
}

/* sub-navigation */

#globalnav ul {
	position: absolute;
	left: 0;
	top: 1.5em;
	float: left;
	background: #70fee0;
	width: 100%;
	margin: 0;
	padding: 0.25em 0.25em 0.25em 1em;
	list-style: none;
	border-top: 1px solid #fff;
}

#globalnav ul li {
	float: left;
	display: block;
	margin-top: 1px;
}

#globalnav ul a {
	background: #70fee0;
	color: #fff;
	display: inline;
	margin: 0;
	padding: 0 1em;
	border: 0;
}

#globalnav ul a:hover,
#globalnav ul a:active,
#globalnav ul a.here:link,
#globalnav ul a.here:visited {
	color: #444;
}

.footer-svg {
    width: 113%;
    z-index: 0;
    margin: -7.5%;
    margin-top: 8%;
}

.development {
    padding: 1.3em;
    color: #dc0067;
    background: #f0ef95;
    box-shadow: 1px 1px 6px 6px #f0ef95;
    border-radius: 23px;
    margin: 2.5em;
}

.de0 {
    display: none;
}
